.lnr{
  font-size: 48px;
} 

.lnr-briefcase {
  color: #feb71d;
}

.lnr-cloud-download {
  color: #58c9e9;
}
.lnr-smile{
  color: #77de51;
}
.lnr-users{
  color: #ff6a6d;
}
.lnr-license {
  color: $text_2;
}
.lnr-magic-wand{
  color: #7f4ec2;
}
.lnr-lock{
  color: #77de51;
}
.lnr-chart-bars{
  color: #feb71d;
}
.lnr-leaf{
  color: #58c9e9;
}
.lnr-phone{
  color: #ff6a6d;
}
.lnr-bubble{
  color: rgb(232, 232, 232);
}
.lnr-clock{
  color: $text_2;
  font-size: 15px;
}
.lnr-eye{
  color: rgb(123, 123, 123);
  font-size: 15px;
}
.lnr-envelope,
.lnr-phone-handset,
.lnr-map-marker{
  color: #fff;
  font-size: 15px;
}


