@import 'vars';
@import 'global';

// start header 
 
.header__top{
  background-color: #eef1f3;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  
}
.top-inner__logo{
  a{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    
  }
  span{
    color: $text_2;
    margin-left: 4px;
  }

}
.top-inner__seler{
    margin-left: auto;
    margin-right: 50px;
    font-weight: 400;
  a{
    font-size: 14px;
    color: #fff;
    background-color: $text_2;
    padding: 13px 18px;
    border-radius: 22px;
    
  }
}
.header__menu{
  background-color: #fff;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 34px;
    }
  }
  a{
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
  }
}
.menu__search{
  form{
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      border: 1px solid #d9dfe5;
      border-radius: 22px;
      font-size: 15px;
      line-height: 30px;
      height: 46px;
      padding-left: 25px;
      padding-right: 80px;
      &::placeholder{
       color: #898f96; 
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: $text_2;
      right: 0;
      top: 0;
      width: 70px;
      height: 46px;
      border-radius: 22px;
      color: #fff;
    }
  }
}
// end header
// start section search
.search{
  min-height: 725px;
}
.search__inner{
  padding: 180px 0px 135px;
  color: #fff;
  text-align: center;
  &-title{
    font-size: 60px;
    line-height: 70px;
    span{
      display: block;
      font-weight: 700;
      word-break: break-all;
    }
  }
  &-text{
    font-size: 20px;
    line-height: 70px;
    font-weight: 500;
    margin-bottom: 80px;
  }
  &-box{
    text-align: center;
    a{
     border: 1px solid #fff;
     border-radius: 32px;
     color: #fff; 
     margin-left: 30px;
     padding: 20px 30px 16px;
     background-color: transparent;
     transition: all .5s;
     &:hover{
      content: '';
      background-color: #fff;
      color: $text_2;
     }
    }
    
  }
}
// end section search
// start section items 
.items{
  background-color: #fff;
  height: 710px;
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 185px auto 116px;
    &-box{
      text-align: center;
      padding: 40px 35px 50px;
      transition: all .5s;
      &:hover{
        content: '';
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
      }
      &__title{
        font-size: 24px;
        color: #010101;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      &__text{
        color: $text;
        line-height: 30px;
      }
    }
    &-box + &-box{
      margin-left: 20px;
    }
  }
}



// end section items 















