@import 'vars';
@import 'global';
@import 'icons';

// start header 
 
.header__top{
  background-color: #eef1f3;
}
.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  
}
.top-inner__logo{
  a{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 30px;
    @include f700;
    
  }
  span{
    color: $text_2;
    margin-left: 4px;
  }

}
.top-inner__seler{
    margin-left: auto;
    margin-right: 50px;
    @include f400;
  a{
    font-size: 14px;
    color: #fff;
    background-color: $text_2;
    padding: 13px 18px;
    border-radius: 22px;
    
  }
}
.header__menu{
  background-color: #fff;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 34px;
    }
  }
  a{
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
  }
}
.menu__search{
  form{
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      border: 1px solid #d9dfe5;
      border-radius: 22px;
      font-size: 15px;
      line-height: 30px;
      height: 46px;
      padding-left: 25px;
      padding-right: 80px;
      &::placeholder{
       color: #898f96; 
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: $text_2;
      right: 0;
      top: 0;
      width: 70px;
      height: 46px;
      border-radius: 22px;
      color: #fff;
    }
  }
}
// end header
// start section search
.search{
  min-height: 725px;
}
.search__inner{
  padding: 180px 0px 135px;
  color: #fff;
  text-align: center;
  &-title{
    font-size: 60px;
    line-height: 70px;
    span{
      display: block;
      @include f700;
      word-break: break-all;
    }
  }
  &-text{
    font-size: 20px;
    line-height: 70px;
    @include f500;
    margin-bottom: 80px;
  }
  &-box{
    text-align: center;
    a{
     border: 1px solid #fff;
     border-radius: 32px;
     color: #fff; 
     margin-left: 30px;
     padding: 20px 30px 16px;
     background-color: transparent;
     transition: all .5s;
     &:hover{
      content: '';
      background-color: #fff;
      color: $text_2;
     }
    }
    
  }
}
// end section search
// start section items 
.items{
  background-color: #fff;
  max-height: 710px;
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 185px auto 116px;
    &-box{
      text-align: center;
      padding: 40px 35px 50px;
      transition: all .5s;
      &:hover{
        content: '';
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
      }
      &__title{
        font-size: 24px;
        color: #010101;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      &__text{
        color: $text;
        line-height: 30px;
      }
    }
    &-box + &-box{
      margin-left: 20px;
    }
  }
}

// end section items 
// start section products-slider

.products-slider,
.followers-slider{
  min-height: 850px;
  background-color: #eff1f5;
  padding-top: 112px;
  padding-bottom: 118px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 110px;
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    margin-bottom: 30px;

  }
}

.products-slider__inner{


  &-item{
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);


  }  

  
  &-img{
    min-width: 555px;
    width: 100%;
    // min-height: 450px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &-content{

    min-width: 585px;
    width: 100%;

  }
  
  &-title{
    padding: 50px 50px 10px;
  }
  &-box{
    padding: 10px 50px 10px;
  }
  &-text{
    padding: 25px 50px 10px;
    line-height: 30px;
  }
  &-keyword{
    padding: 30px 50px 40px;
    a{
      color: #868c96;
      background-color: #f1f3f6;
      padding: 10px 14px 8px;
      border-radius: 22px; 
    }
  }
  &-info{
    padding-left: 50px;
    padding-right: 50px;
  }
  &-border {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 490px;
    min-height: 80px;
    border-top: 1px solid #ececec;

  }

  &-price{
    padding: 9px 18px;
    background-color: $text_2;
    color: #fff;
    margin-right: 20px;
  }
  &-cart{
    margin-left: 16px;
    
  }
  &-star{
    margin-left: 170px;
  }
 

}
.like-color{
  color: rgb(85, 85, 85);
}
.cart-color{
  color: $text_2;
}

.slick-arrow{
  top: 0;
  right: 0;
  width: 8px;
  height: 14px;
}

// end section products-slider

// start section products 
.products{
  padding: 118px 0px 118px;
  background-color: $grey;
}

.products__inner-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 110px;
  background-color: #fff;
  padding: 45px 30px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  margin-bottom: 30px;
  &__btn{
    color: #747b86;
    display: flex;
    align-items: center;
    
    button{
      margin-left: 24px;
      border: none;
      background-image: url(../images/products/filter.svg);
      width: 5px;
      height: 20px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
      padding: 0;


    }
  }


}
.products__inner-btn{
  text-align: center;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 30px 30px 30px 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  
  button{
    padding: 11px 20px;
    border-radius: 22px;
    border: none;
    background-color: #f1f3f6;
    color: $grey_2;
    font-size: 15px;
    transition: all .5s;
    cursor: pointer;
    & + button{
      margin-left: 10px;
    }
    &.mixitup-control-active{
      background-color: $text_2;
      color: #fff;
    }
  }
  
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item{
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  
  &-img{
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
    
  }
  
  &-content{
    display: flex;
    flex-direction: column;
  }
  &-name{
    min-height: 174px;
    border-bottom: 1px solid #ececec;
  }
  &-title{
    padding: 30px 30px 0px;
    color: #000;
    font-size: 20px;
    @include f500;
    min-width: 300px;
    word-break: break-all;

  }
  &-box{
    display: flex;
    align-items: center;
    padding: 20px 30px 10px;
  }
  &-box__theme{
    display: flex;
    align-items: center;
    .avatar{
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    span{
      font-size: 15px;
      color: #000
    }
  }
  &-box__category{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #7347c1;
    .avplagins{
      width: 16px;
      height: 16px;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 9px;
    }
  }
  &-text{
    padding: 25px 30px 35px;
    line-height: 30px;
  }
  &-info{
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 15px 30px;
    font-size: 15px;
    @include f500;
  }
  &-price{
    background-color: #e6f1fd;
    color: $text_2;
    padding: 8px 16px;
    border-radius: 22px;
    margin-right: 13px;
  }
  &-like{
    width: 16px;
    height: 14px;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 6px;
  }  
  span{
    font-size: 15px;  
    line-height: 30px;
    color: #6f7d8d;
    padding-right: 15px;
  }
  &-cart{
    width: 14px;
    height: 14px;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 9px;
    margin-left: 35px;
  }
  span{
    font-size: 15px;
    line-height: 30px;
    color: $text_2;
    
  }
}
.rate-star{
  margin-left: 14px;
}
.products__bottom-btn,
.shopping__inner-btn,
.feedback__inner-btn{
  margin-top: 30px;
  text-align: center;
  button{
    border: none;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: $text_2;
    color: #fff;
    line-height: 42px;
    padding: 10px 32px;
    border-radius: 32px;
    cursor: pointer;
  }
}



// end section products 

// start followers 
.followers-slider__title{
  margin-bottom: 30px;

}
.slick-slide{
  width: 390px;
}
.slick-arrow{
  position: absolute;
  border: none;
  padding: 14px 20px;
}

.slick-prev {
  right: 70px;
  top: -87px;
  left: auto;
}

.slick-next {
  right: 30px;
  top: -87px;
}
// end followers 

// start adventages 
.adventages{
  background-color: #212225;
  &__inner{
    display: flex;
    justify-content: space-between;
    min-height: 350px;
    
  }
}
.adventages__item{
  max-width: 180px;
  padding: 100px 15px 95px;
  text-align: center;
  &-images{

    padding-bottom: 50px;
  }
  &-total{
    font-size: 36px;
  }
  &-text{
    font-size: 18px;
    line-height: 36px;
    color: #fff;

  }
}
.item-total{
  color: #feb71d;
}
.sales-total{
  color: #58c9e9;
}
.customers-total{
  color: #77de51;
}
.members-total{
  color: #ff6a6d;
}

// end adventages 
// start select
.select{
  background-color: #fff;
  max-height: 1180px;
  text-align: center;
  &__box{
    margin: 0 auto;
    padding: 120px 15px 60px;
    max-width: 684px; 
    &-title{
    font-size: 36px;
    color: #000;
    }
    span{
      color: $text_2;
    }
    &-text{
    padding-top: 35px;
    color: #555555;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 361px;
    max-height: 373px; 
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    position: relative;
    margin-bottom: 29px;
    &-number{
      position: absolute;
      font-size: 48px;
      color: rgba(92, 135, 248, 0.2);
      @include f300;
      left: 20px;
      top: 20px;
      
    }
    &-images{
      padding: 56px 10px 48px;
    }
    &-title{
      font-size: 24px;
      color: #000;
      max-width: 310px;
      padding: 0px 10px;
    }
    &-text{
      line-height: 30px;
      color: #555555;
      padding: 28px 30px 56px;
    }
  }
}
// end select
// start shopping 
.shopping__inner{
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 30px;
  &-item{
    min-width: 953px;
    max-height: 560px;
    text-align: center;
    background-color: $text_2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
  }
  &-images{
    width: 120px; 
    height: 101px;
    margin-bottom: 45px;
    padding: 0px 10px;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  &-title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    min-width: 314px;
    padding: 0px 10px;
  }
  &-text{
    line-height: 30px;
    color: #fff;
    max-width: 601px;
    padding: 0px 10px;
  }
  &-btn{
    button{
      background-color: #fff;
      color: $text_2;
    }
  }
}
.shopping-bg{
  background-color: #7347c1;
}
// end shopping 

// start feedback 
.feedback{
  background-color: #fff;
  max-height: 838px;
  &__inner-btn{
    margin-top: 60px;
    margin-bottom: 120px;
  }
  &__box{
    padding-top: 118px;
    text-align: center;
    margin: 0 auto;
    max-width: 690px;
    &-title{
      font-size: 36px;
      color: #000;
      padding: 0px 15px;
    }
    span{
      color: $text_2;
    }
    &-text{
      line-height: 30px;
      color: #555555;
      padding: 35px 15px 0px;
    }
  }
 
  &__item{
    min-width: 555px;
    background: #fff;
    border-left: 1px solid $text_2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    &-box{
      display: flex;
      justify-content: jcsb;
      align-items: center;
      padding-top: 50px;
    }
  }
  &__inner{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 553px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-left: 1px solid $text_2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    &-box{
      position: relative;
      padding: 46px 40px 0px 34px;
      &__images{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &__data{
        max-width: 240px;
        width: 100%;
      }
      &__name{
        padding-left: 16px;
        font-size: 20px;
        color: #000;
      }
      &__profi{
        padding-left: 16px;
        padding-top: 15px;
        color: #555;
      }
    }
    &-text{
      padding: 30px 40px 52px 34px;
      line-height: 30px;
      color: #555;
    }

  }
 

}
.lnr-bubble{
  position: absolute;
  right: 40px;
  top: 42px;
}

// end feedback 

// start news 
.news{
  background-color: #eff1f5;
  max-height: 885px;
  &__box{
    padding-top: 118px;
    text-align: center;
    margin: 0 auto;
    max-width: 690px;
    &-title{
      font-size: 36px;
      color: #000;
      padding: 0px 15px;
    }
    span{
      color: $text_2;
    }
    &-text{
      line-height: 30px;
      color: #555;
      padding: 30px 15px 0px;
    }
  } 
   
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 118px;
  }
  &__item{
    max-width: 361px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;

    &-img{
      min-height: 230px;
      background-repeat: no-repeat;
      display: block;
      background-position: center center;
      background-size: cover;
      
    }
    &-name{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #ececec;

    }
    &-title{
      font-size: 22px;
      color: #000;
      padding: 30px 30px 0px;
      max-width: 361px;
    }
    &-text{
      line-height: 30px;
      color: #555;
      padding: 30px 30px;
      max-width: 361px;
    }
    &-info{
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-height: 56px;
    }
    &-data{
      display: flex;
      align-items: center;
      min-width: 150px;
      border-right: 1px solid #ececec;
      max-height: 40px;
      padding: 20px 27px 20px 30px;
      
    }
    &-data__now{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px;
      color: rgb(153, 153, 153);

    }
    &-message{
      display: flex;
      align-items: center;
      min-width: 150px;
      max-height: 40px;
      padding: 20px 30px 20px 22px;
      color: rgb(123, 123, 123);

    }
    &-message {
      .lnr-bubble{
      position: static;
      font-size: 15px;
      color: rgb(123, 123, 123);
      margin-right: 9px;
      }
    }
      
    
  }
}
.lnr-eye{
  margin-left: 30px;
  margin-right: 9px;
}

// end news 
// start support 
.support{
  background-color: #fff;
  max-height: 295px;
  &__inner{
    display: flex;
    justify-content: space-around;

  }
  &__item-border{
    margin: 0 auto;
    width: 100%;
  }
 
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 386px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-right: 1px solid #ececec;
    
    &-images{
      width: 150px;
      height: 120px;
      padding: 0px 10px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &-text{
      font-size: 24px;
      color: #000;
      padding: 27px 10px 0px;
    }
    span{
      color: $text_2;
    }
  }

}
.support-user{
  width: 157px;
}
.support__item.border-right{
  border-right: none;

}



// end support 













